.color-container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: black 2px solid;
  padding: 10px 10px 20px 10px;
}

.color-box {
  width: 100%;
  padding: 5px 20px;
  text-align: start;
  border-radius: 0;
}

.rounded-top {
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.rounded-bottom {
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.color-name-container {
  width: 100%;
  display: flex;
  gap: 4px;
  align-items: center;
}
.color-name {
  font-size: 1.7rem;
  font-family: Arial, Helvetica, sans-serif;
}
.color-code {
  font-size: 0.8rem;
  align-self: start;
  font-family: Arial, Helvetica, sans-serif;
}

.color-text {
  max-width: 400px;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
}

.color-text-white {
  position: absolute;
  top: 50%;
  right: -60px;
  padding: 2px 5px;
  transform: translatey(-50%);
  background-color: #f8f8ff;
  font-size: 0.8rem;
  font-family: Arial, Helvetica, sans-serif;
  transform: rotate(90deg);
}

.button {
  position: absolute;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  border: solid black 2px;
  color: black;
  border-radius: 15px;
  background-color: #f8f8ff;
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  cursor: pointer;
}

.button:hover {
  background-color: #ceced5;
}
